$size : 1200px;

main{overflow: hidden;}

section.sub-top{
    max-width: $size;
    margin: 100px auto;
    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 4.75rem;
        font-weight: 900;
        letter-spacing: 3px;
    }
    p{
        font-size: 2.625rem;
        font-weight: 500;
        margin-top: 18px;
    }
}

section.text{
    max-width: $size;
    margin: 150px auto 20px auto;
    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 15px;
    }
    h3{
        font-size: 3.75rem;
        font-weight: 900;
    }
}

div.icon-list{
    display: flex;
    width: $size;
    margin: 0px auto;
    justify-content: space-between;
    h4{
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 64px;
        max-width: 600px;
    }
    
    ul{
        max-width: 58%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 115px;
    }
    li{
        margin-bottom: 80px;
        width: 282px;
        figcaption{
            width: 258px;
            font-size: 1.625rem;
            font-weight: 700;
            margin: 12px 0px 20px 0px
        }
        p{
            font-size: 1.125rem;
            line-height: 34px;
        }
    }

}

li.ooo{
    margin-right: 125px;
}



div.banner-img2{
    background-image: url("../img/benefit/bg-img.jpg");
    padding-top: 32%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px auto;
    animation: img 1000ms;
}
@keyframes img{
    from{ width: 60%; }
    to{ width: 100%; }
}

div.img01{
    background-image: url("../img/benefit/benefit-img-01.png");
    width: 100%;
    padding-top: 32%;
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

div.img02{
    background-image: url("../img/benefit/benefit-img-02_n1.png");
    width: 100%;
    padding-top: 32%;
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

div.img03{
    background-image: url("../img/benefit/benefit-img-03.png");
    width: 100%;
    padding-top: 32%;
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

div.img04{
    background-image: url("../img/benefit/benefit-img-04.png");
    width: 100%;
    padding-top: 32%;
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

//Swiper
html,
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 150%;
    height: 640px;
    transform: translateX(-21.5%);
    margin-bottom: 200px;
    
}

.swiper-slide {
    text-align: center;
    background: #fff;

  /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 940px;
    height: 590px;
   
}

.swiper-wrapper {


    img{
        width: 900px;
        margin: 50px 0px 200px 0px;
        padding: 0px 15px;
        cursor: url("../img/DRAG.cur") 50 50, auto;
        object-fit: cover;
    }
}




@media (min-width: 768px) and (max-width: 991px){

}

@media (max-width: 767px){
   
}