@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins:wght@400&display=swap');

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p,a, 
img, ul, li, nav,video, figure{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
ol, ul {
	list-style: none;
}

nav { 
    display: block;
}

input, label{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 280px;
    font-size: 1rem;
    line-height: 23.5px;
    font-weight: 500;
    &:focus{
        outline: none;
        border-bottom: 1px solid #000;
    }
}


// ---------------------------------------------

div.header{
    display: flex;
    max-width: 1700px;
    justify-content: space-between;
    padding: 0 18px;
    height: 85px;
    margin: auto;
    h1{
        margin: auto 0;
    }   
}
button.bar{
    display: none;
}
nav.pc-nav{
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    margin: auto 0;

    ul{
        display: flex;
        justify-content: space-between;

        li{
            cursor: pointer;
            //padding: 0 40px;
            margin: 0px 40px;

            position: relative;
            display: inline-block;
        }
    }
}

nav.pc-nav li::after {
    position: absolute;
    content: "";
    display: block;
    border-bottom: 2px solid #000;
    transition: width 300ms ease-out;
    left: 0;
    width: 0;
}

nav.pc-nav li:hover::after{
    width: 100%;
}
a.active::after{
    position: absolute;
    content: "";
    display: block;
    border-bottom: 2px solid #000;
    left: 0;
    width: 100%;
}

div.language-warp{
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    position: relative;
    margin: auto 0;
    display: flex;
}

div.language-warp a:nth-of-type(1),
div.language-warp a:nth-of-type(2){
    margin-right: 24px;
}

div.language-warp a:nth-of-type(1)::after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #aaa;
    top: 50%;
    right: 70%;
    transform: translate(-50%,-50%);
}

div.language-warp a:nth-of-type(2)::after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #aaa;
    top: 50%;
    right: 26%;
    transform: translate(-50%,-50%);
}

div.wrap{
    min-width: 992px;
    background-color: bisque;
}

footer{
    font-family: 'Poppins', sans-serif;
    padding: 50px 105px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;

    div.info-wrap{

        ul.info-top{
            font-size: 0.8125rem;
            line-height: 25px;
            margin: 70px 0px 20px 0px;
        }
        ul.into-bottom{
            font-size: 0.8125rem;
            color: #999999;
            display: flex;
        }
    }

	div.sns-link-wrap{
        
        ul.sns-link{
            font-size: 0.875rem;
            line-height: 32px;
            font-weight: 500;
            display: flex;
            
            li.sns-link-list{
                margin-left: 85px;
                cursor: pointer;
                span{
                    font-size: 1rem;
                    font-weight: 500;
                    cursor: pointer;
                }

                ul.sns-link-s{
                    color: #666666;
                    cursor: pointer;
                }
            }
        }
    }
    
}


@import"_media";

















@media (min-width: 768px) and (max-width: 991px){

    div.header{
        display: flex;
        justify-content: space-between;
        padding: 0 18px;
        height: 60px;
        h1{
            margin: auto 0;
        }
    }
    nav.pc-nav, div.language-warp{
        display: none;
    }

    button.bar{
        display: block;
        width: 26px; 
        height: 16px;
        background-color: #000;
        position: fixed;
        background-color: transparent;
        border: none;
        cursor: pointer;
        right: 3%;
        top: 2%;
        z-index: 999;

       
       span{
            position: absolute;
            left: 0;
            width: 100%;
            border-top: 2px solid rgb(0, 0, 0);
            transition: 300ms;
        }
        span:nth-child(1){
            top: 0;
        }
        span:nth-child(2){
            top: 50%;
        }
        span:nth-child(3){
            top: 100%;
        }
    
        button:hover > span:nth-child(1){
            top: 50%;
            transform: rotate(45deg);
        }
        button:hover > span:nth-child(2){
            top: 50%;
            /* transform: translateX(100%); */
            opacity: 0;
        }
        button:hover > span:nth-child(3){
            top: 50%;
            transform: rotate(-45deg);
        }
        
    }
    
    footer{
        font-family: 'Poppins', sans-serif;
        padding: 50px;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    
        div.info-wrap{
    
            ul.info-top{
                font-size: 0.8125rem;
                line-height: 25px;
                margin: 70px 0px 10px 0px;
            }
            ul.into-bottom{
                font-size: 0.8125rem;
                color: #999999;
                display: flex;
                flex-direction: column;
            }
        }
    
        div.sns-link-wrap{
            
            ul.sns-link{
                font-size: 0.875rem;
                line-height: 32px;
                font-weight: 500;
                display: flex;
                
                li.sns-link-list{
                    margin-left: 30px;
                    cursor: pointer;
                    span{
                        font-size: 1rem;
                        font-weight: 500;
                        cursor: pointer;
                    }
    
                    ul.sns-link-s{
                        color: #666666;
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
}















@media (max-width: 767px){
    div.header{
        display: flex;
        justify-content: space-between;
        padding: 0 18px;
        height: 60px;
        h1{
            margin: auto 0;
        }
    }
    nav.pc-nav, div.language-warp{
        display: none;
    }

    button.bar{
        display: block;
        width: 26px; 
        height: 16px;
        background-color: #000;
        position: fixed;
        background-color: transparent;
        border: none;
        cursor: pointer;
        right: 3%;
        top: 2%;
        z-index: 999;

       
       span{
            position: absolute;
            left: 0;
            width: 100%;
            border-top: 2px solid rgb(0, 0, 0);
            transition: 300ms;
        }
        span:nth-child(1){
            top: 0;
        }
        span:nth-child(2){
            top: 50%;
        }
        span:nth-child(3){
            top: 100%;
        }
    
        button:hover > span:nth-child(1){
            top: 50%;
            transform: rotate(45deg);
        }
        button:hover > span:nth-child(2){
            top: 50%;
            /* transform: translateX(100%); */
            opacity: 0;
        }
        button:hover > span:nth-child(3){
            top: 50%;
            transform: rotate(-45deg);
        }
        
    }

    footer{
        font-family: 'Poppins', sans-serif;
        padding: 50px;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        display: none;
    
        div.info-wrap{
    
            ul.info-top{
                font-size: 0.8125rem;
                line-height: 25px;
                margin: 70px 0px 10px 0px;
            }
            ul.into-bottom{
                font-size: 0.8125rem;
                color: #999999;
                display: flex;
                flex-direction: column;
            }
        }
    
        div.sns-link-wrap{
            
            ul.sns-link{
                font-size: 0.875rem;
                line-height: 32px;
                font-weight: 500;
                display: flex;
                
                li.sns-link-list{
                    margin-left: 30px;
                    cursor: pointer;
                    span{
                        font-size: 1rem;
                        font-weight: 500;
                        cursor: pointer;
                    }
    
                    ul.sns-link-s{
                        color: #666666;
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
}