section.sub-top {
  max-width: 1200px;
  margin: 100px auto 35px auto;
  position: relative;
}
section.sub-top h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4.75rem;
  font-weight: 900;
  letter-spacing: 3px;
}
section.sub-top p {
  font-size: 2.625rem;
  font-weight: 500;
  margin-top: 15px;
}
section.sub-top img {
  position: absolute;
  top: 33%;
  left: -15%;
  z-index: -1;
}

div.container {
  max-width: 590px;
  margin-left: 52%;
}

div.brand {
  width: 100%;
  margin-bottom: 65px;
}
div.brand p {
  font-size: 1.125rem;
  font-weight: 900;
  margin: 0px 0px 20px 0px;
}
div.brand button {
  font-weight: 500;
  color: rgb(34, 34, 34);
  font-size: 1rem;
  height: 68px;
  border-radius: 32px;
  border: 2px solid rgb(16, 16, 16);
  padding: 20px 40px;
  background-color: #fff;
  margin-right: 10px;
}
div.brand button:nth-of-type(1) {
  background-color: #DBDBDB;
}

div.input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto;
}

div.input-text {
  position: relative;
  margin-bottom: 60px;
}
div.input-text p {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, -50%);
  color: #9D9D9D;
}

div.input-text- {
  position: relative;
  z-index: -2;
}
div.input-text- p {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, -50%);
  color: #9D9D9D;
}

textarea.input-textarea {
  width: 590px;
  height: 110px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  line-height: 23.5px;
  font-weight: 500;
  resize: none;
}
textarea.input-textarea:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

input.check {
  width: 15px;
  margin-top: 20px;
}

span.agr {
  font-size: 0.875rem;
  color: #666;
}

button.btn {
  position: relative;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  font-weight: 900;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  margin: 0px 0px 50px auto;
  padding: 20px 0px;
  cursor: url("../img/contact/submit.cur") 50 50, auto;
}
button.btn svg {
  margin-left: 35px;
}
button.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -70%;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgba(231, 217, 217, 0.2);
  transform: translate(-50%, -50%);
  z-index: -1;
}

div.map-container {
  width: 1600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

div.map-wrap iframe {
  position: absolute;
  left: 100%;
}

section {
  margin: 150px auto 0px auto;
}
section h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4.75rem;
  font-weight: 900;
  letter-spacing: 3px;
}

ul.nav {
  display: flex;
  margin: 50px auto;
}
ul.nav li {
  padding: 0px 20px;
  font-size: 1.625rem;
  font-weight: bold;
  letter-spacing: -0.5px;
}
ul.nav li a {
  color: #7f7f7f;
}
ul.nav li:nth-of-type(1) {
  padding: 0px 20px 0px 0px;
  position: relative;
}
ul.nav li:nth-of-type(1) a {
  color: #000;
}

ul.nav li:nth-of-type(1)::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.location {
  font-size: 2.125rem;
  margin: 170px auto 200px auto;
}/*# sourceMappingURL=contact.css.map */